@import "./header/header.scss", "./celebrating/celebrating.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fcefd2;
  font-family: "Lato", sans-serif;
}

li {
  list-style: none;
}

button {
  border: none;
}
