.nav-header {
  margin-left: 45px;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .nav-header {
    margin-left: 20px;
  }
}
.nav-header > ul {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .nav-header > ul {
    display: none;
  }
}
.nav-header .nav-icon {
  justify-content: end;
  display: flex;
  margin-right: 32px;
}
.nav-header .nav-icon img {
  width: 70px;
  height: 70px;
}
.nav-header .banner .banner-left h1 {
  color: #642c99;
  font-family: "Wendy One";
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 510px;
}
@media screen and (max-width: 767px) {
  .nav-header .banner .banner-left h1 {
    width: 310px;
    font-size: 60px;
  }
}
.nav-header .banner .banner-left p {
  width: 480px;
  color: #642c99;
  margin: 20px 0;
}
@media screen and (max-width: 767px) {
  .nav-header .banner .banner-left p {
    width: 310px;
  }
}
.nav-header .banner .banner-left button {
  display: block;
  border-radius: 8px;
  background: #642c99;
  padding: 12px 24px;
  color: #fbfac9;
}
@media screen and (max-width: 767px) {
  .nav-header .banner .banner-left button {
    display: none;
  }
}
.nav-header .banner .banner-left .banner-left-mobile {
  border-radius: 8px;
  background: #642c99;
  padding: 12px 24px;
  color: #fbfac9;
  display: none;
}
@media screen and (max-width: 767px) {
  .nav-header .banner .banner-left .banner-left-mobile {
    display: block;
  }
}
.nav-header .banner .banner-right {
  background: url("/asset/image/banner-right.png") no-repeat;
  width: 365px;
  height: 716px;
  position: absolute;
  top: 5%;
  right: 15%;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .nav-header .banner .banner-right {
    width: 266px;
    height: 356px;
    top: 60%;
    right: 0;
    background: url("/asset/image/nav-mobile.png") no-repeat;
  }
}

.celebrating {
  margin-top: 150px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .celebrating {
    margin-top: 250px;
  }
}
.celebrating > img {
  display: block;
  width: 100%;
  height: 1200px;
}
@media screen and (max-width: 767px) {
  .celebrating > img {
    display: none;
  }
}
.celebrating .mobile-celebrating {
  display: none;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .celebrating .mobile-celebrating {
    display: block;
  }
}
.celebrating .content-celebrating {
  position: absolute;
  top: 20%;
  left: 15%;
}
@media screen and (max-width: 767px) {
  .celebrating .content-celebrating {
    left: 8%;
  }
}
.celebrating .content-celebrating h1 {
  color: #feefd0;
  font-family: "Wendy One";
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  width: 530px;
  line-height: normal;
}
@media screen and (max-width: 767px) {
  .celebrating .content-celebrating h1 {
    font-size: 42px;
    width: 322px;
  }
}
.celebrating .content-celebrating p {
  color: #feefd0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 593px;
}
@media screen and (max-width: 767px) {
  .celebrating .content-celebrating p {
    width: 333px;
  }
}
.celebrating .content-celebrating .middle-content-celebrating {
  margin: 40px 0;
}
.celebrating .middle-banner {
  position: absolute;
  top: 65%;
  display: flex;
  justify-content: center;
  width: 100%;
}
.celebrating .middle-banner img {
  width: 95%;
  height: 500px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcefd2;
  font-family: "Lato", sans-serif;
}

li {
  list-style: none;
}

button {
  border: none;
}/*# sourceMappingURL=index.css.map */